#totaldiv2{
    width: 100%;
    height: 635px;
    background-color: black;

}

@media (max-width:600px){
    #totaldiv2{
        height: 720px;
    }
}


#eighthdiv{
    color: white;
    margin-top: 0px;
    margin-left: 100px;
    width: 560px;
    height: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 8px #00fffc;
    
}

@media (max-width:600px){
    #eighthdiv{
        margin-left: 15px;
        width: 365px;
        height: 500px;
        padding: 10px;
    }

    #myhome{
        font-size: 20px;
        margin-left: -10px;
    }
}

#text{
    background-color: black;
    color: white;
    margin-left:30px ;
}


#btn{
    margin-left: 190px;
    color: white;
    background-color: blue;
    border-radius: 15px;
}

#copyRights{
    color: white;
    margin-top: 45px;
    margin-left: 450px;
    font-family:"Nunito"; 

}

@media (max-width:600px){
    #copyRights{
        margin-top: 110px;
        margin-left: 45px;
        font-size: 13px;
    }
}

