#totaldiv3{
    background-color: black;
        width:100%;
        height: 625px;
}

@media (max-width:600px){
    #totaldiv3{
        background-color: black;
        width:100%;
        height: 860px; margin-top: 0px;
        background-image: url(./myimage14.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
}

#firstdiv1{
    width:550px;
    height:100px;
    margin-top:120px;
    margin-left:25px;
    color:white;
    float:left;
}

@media (max-width:600px){
    #firstdiv1{
        width: 350px;
        height: 380px;
        margin-top:475px;
        margin-left:15px;
       
    }
}




#thirddiv{
    width: 330px;
    height:45px;
}

@media (max-width:600px){
    #thirddiv{
        margin-top: 20px;
        margin-left: 6px;
        width: 200px;
        height:40px;
        border-radius: 25px;
        
       
    }
}

#thirddiv{
    border-radius: 25px;
    transition-duration: 2s;
    transform: scale(1.05);
    box-shadow: 0 0 12px #00fffc;
    
}

.nav{
    background-color: black;
    position: sticky;
    top: 0;
}


.nav-link{
    color: white;
}

.nav-link:hover{
    
    transition-duration: 1s;
    transform: scale(1.30);
    color: white;
    background: linear-gradient(to right, rgb(0,168,253),yellow 50%);
    background-size:60% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.socialimg{
    margin-top: 30px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    animation-name: ani1;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

@keyframes ani1{
    0%{
        transform: scale(1.4, 1.4);
        cursor: pointer;
    transition-duration: .3s;
    transform: scale(1.15);
    box-shadow: 0 0 8px #00fffc;
}
}

@media (max-width:600px){
    .socialimg{
        margin-top: 10px;
        width: 40px;
        height: 30px;
    }
}

.socialimg:hover{
    cursor: pointer;
    transition-duration: .3s;
    transform: scale(1.15);
    box-shadow: 0 0 15px #09ff00;
}


#myText{
    animation-name: ani2;
    animation-duration: 1.5s;
    font-family:"Nunito"; 
    font-size:30px;
    
}

@keyframes ani2 {
    0% {
        
        font-size:0px;
    }
}

@media (max-width:600px){
    #myText{
        font-size: 30px;
    }
}

#myNam{
    animation-name: ani3;
    animation-duration: 4s;
    font-family:"Bungee Spice"; 
    font-size:50px;
}

@keyframes ani3 {
    0% {
        transform: translatex(-600px);
    }
}

@media (max-width:600px){
    #myNam{
        font-size: 37px;
    }
}


#myText2{
    font-family:"Nunito";
     font-size:25px;
}

@media (max-width:600px){
    #myText2{
        font-size: 23px;
    }
}


#res{
    margin-top:80px;
    margin-left:80px;
    color:white;
    background: linear-gradient(to right, rgb(0,168,253),#f5f2f2 50%);
    background-size:55% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media (max-width:600px){
    #res{
        margin-top:15px;
        margin-left:40px;
        font-size: 30px;
        
    }
}

#seconddiv1{
    float:right;
}

#im{
    float:right;
    width:550px;
    height:620px;
    
}

@media (max-width:600px){
    #im{
        float:left;
        width:400px;
        height:425px;
        display: none;
        
    }
}

#hi{
    color: white;
    background-color: black;
    height: 2750px;
    display: none;
}

#aca{
    margin-top: 30px;
    margin-left: 20px;
    color:white;
    background: linear-gradient(to right, rgb(0,168,253),#f5f2f2 50%);
    background-size:55% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#clg{
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-left: 10px;
}

#clg-div{
    width: 500px;
    height: 220px;
    border-radius: 15px;
    box-shadow: 0 0 8px #00fffc;
    float: right;
    margin-top: -220px;
    margin-right: 200px;
    display: none;
    animation-name: ani4;
    animation-duration: 2s;
}

@keyframes ani4{
    0%{
        width: 0px;
        height: 0px;
    }
}

#clg-year{
    width: 500px;
    box-shadow: 0 0 8px #00fffc;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(253, 59, 0),#c0a50d 50%);
    background-size:87% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: ani5;
    animation-duration: 2s;
    
}
@keyframes ani5{
    0%{
        width: 0px;
        height: 0px;
        font-size: 0px;
    }
}

#sch{
    margin-top: 230px;
    margin-left: 30px;
}

#sch-div1{
    width: 500px;
    height: 190px;
    border-radius: 15px;
    box-shadow: 0 0 8px #00fffc;
    float: right;
    margin-top: -250px;
    margin-right: 200px;
    animation-name: ani4;
    animation-duration: 2s;
    display: none;
   
   
}

#sch-year1{
    width: 500px;
    box-shadow: 0 0 8px #00fffc;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(253, 59, 0),#c0a50d 50%);
    background-size:87% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: ani5;
    animation-duration: 2s;
   
}

#sch-div2{
    width: 500px;
    height: 190px;
    border-radius: 15px;
    box-shadow: 0 0 8px #00fffc;
    float: right;
    margin-top: 30px;
    margin-right: 200px;
    animation-name: ani4;
    animation-duration: 2s;
    display: none;
   
   
}

#sch-year2{
    width: 500px;
    box-shadow: 0 0 8px #00fffc;
    border-radius: 15px;
    background: linear-gradient(to right, rgb(253, 59, 0),#c0a50d 50%);
    background-size:87% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: ani5;
    animation-duration: 2s;
   
}

#aca-det{
    border-radius: 15px;
    margin-left: 40px;
    width: 1150px;
    height: 950px;
    box-shadow: 0 0 8px #00fffc;
}

#aca1{
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 50px;
    width: 1150px;
    height: 400px;
    box-shadow: 0 0 8px #00fffc;
}
#aca-pro{
    margin-top: 30px;
    margin-left: 20px;
    color:white;
    background: linear-gradient(to right, rgb(0,168,253),#f5f2f2 50%);
    background-size:55% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#pro-tit{
    margin-left: 20px;
    background: linear-gradient(to right, rgb(253, 59, 0),#c0a50d 50%);
    background-size:87% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pro-img{
    width: 200px;
    height: 200px;
    margin-left: 450px;
    margin-top: 20px;
}

#int{
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 50px;
    width: 1150px;
    height: 650px;
    box-shadow: 0 0 8px #00fffc;
}

#int-det{
    margin-top: 30px;
    margin-left: 20px;
    color:white;
    background: linear-gradient(to right, rgb(0,168,253),#f5f2f2 50%);
    background-size:55% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#int-tit1{
    margin-left: 20px;
    background: linear-gradient(to right, rgb(253, 59, 0),#c0a50d 50%);
    background-size:87% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#int-tit2{
    margin-left: 20px;
    background: linear-gradient(to right, rgb(253, 59, 0),#c0a50d 50%);
    background-size:87% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#int-img1{
    width: 400px;
    height: 180px;
    margin-left: 380px;
    margin-top: 20px;
}

#int-img2{
    width: 200px;
    height: 200px;
    margin-left: 450px;
    margin-top: 20px;
}