#totaldiv{
    width: 100%;
    height: 1460px;
    background-color: black;
    margin-top: 0px;
    
}

@media (max-width:600px){
    #totaldiv{
        background-color: black;
        margin-top: 0px;
    }
}


#firstdiv{
    margin-left: 100px;
    margin-top: 0px;
    width: 1000px;
    height: 840px;
    border-radius: 10px;
    box-shadow: 0 0 8px #00fffc;
    
}

@media (max-width:600px){
    #firstdiv{
        margin-left: 13px;
        width: 365px;
    }
}

.head1{
    text-decoration:underline;
    margin-left: 10px;
    font-size: 30px;
    margin-left: 20px;
    color: white;
    background: linear-gradient(to right, rgb(253, 59, 0),#c0a50d 50%);
    background-size:87% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:600px){
    .head1{
        font-size: 25px;
    }
}


#seconddiv{
    margin-left: 100px;
    margin-top: 0px;
    width: 1000px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 0 8px #fbff00;

    
}

@media (max-width:600px){
    #seconddiv{
        margin-top: 0px;
        margin-left: 13px;
        width: 365px;
    }
}

.myText1{
    color: white;
    font-family: Nunito;
    font-size: 30px;
    margin-left: 20px;
    font-weight:bolder;

}

@media (max-width:600px){
    .myText1{
        font-size: 22px;  
    }
}

.head2{
    color: white;
    margin-left: 20px;
    background: linear-gradient(to right, rgb(253, 59, 0),#c0a50d 50%);
    background-size:87% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.head3{
    color:white;
    margin-left: 20px;
     background: linear-gradient(to right, rgb(253, 249, 0),#f5f2f2 50%);
    background-size:55% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}